#div_mensagem{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  border: 1px solid #B0B0B8;
  padding: 10px;
  width: calc(800px - 2px - 20px);
  max-width: calc(100% - 2px - 20px);
  line-height: 22px;
}
@media(max-width: 640px){
  #div_mensagem{
    margin-bottom: 15px;
  }
}
#div_cadastrar{
  margin-right: auto;
  margin-left: auto;
  padding: 0px 20px;
  width: calc(290px - 40px);
  max-width: calc(100% - 40px);
}
@media(max-width: 640px){
  #div_cadastrar{
    padding: 0px;
    width: 250px;
    max-width: 100%;
  }
}
#h2_titulo_da_pagina{
  text-align: center;
}
@media(max-width: 640px){
  #h2_titulo_da_pagina{
    font-size: 17pt;
  }
}
#form_cadastrar{
  margin-top: 22px;
}
#form_cadastrar input[type="text"],
#form_cadastrar input[type="password"]{
  width: calc(250px - 2px - 10px);
}
#div_campo_nome_completo{
  margin-top: 2px;
}
#div_cpf{
  margin-top: 20px;
}
#div_campo_cpf{
  margin-top: 2px;
}
#div_email{
  margin-top: 20px;
}
#div_campo_email{
  margin-top: 2px;
}
#div_senha{
  margin-top: 20px;
}
#div_campo_senha{
  margin-top: 2px;
}
#div_senha_novamente{
  margin-top: 20px;
}
#div_campo_senha_novamente{
  margin-top: 2px;
}
#div_botao_cadastrar{
  margin-top: 32px;
  min-width: 250px;
  max-width: 250px;
  text-align: center;
}
@media(max-width: 640px){
  #div_botao_cadastrar{
    text-align: right;
  }
}
