#div_mensagem{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  border: 1px solid #B0B0B8;
  padding: 10px;
  width: calc(600px - 2px - 20px);
  max-width: calc(100% - 2px - 20px);
  line-height: 22px;
}
@media(max-width: 640px){
  #div_mensagem{
    margin-bottom: 15px;
  }
}
#div_chamados{
  padding: 0px 20px;
  min-width: calc(100% - 40px);
  max-width: calc(100% - 40px);
  overflow: hidden;
}
@media(max-width: 380px){
  #div_chamados{
    padding: 0px;
    min-width: 100%;
    max-width: 100%;
  }
}
#h2_titulo_da_pagina{
  text-align: center;
}
@media(max-width: 640px){
  #h2_titulo_da_pagina{
    font-size: 17pt;
  }
}

/* Formulário para abrir novo chamado */
#div_novo_chamado{
  float: left;
  margin-top: 30px;
  margin-right: 40px;
  border-right: 1px solid #D0D0D0;
  padding-right: 40px;
  padding-bottom: 22px;
  min-width: calc(600px - 40px - 1px - 40px);
}
@media(max-width: 1100px){
  #div_novo_chamado{
    float: none;
    margin-right: 0px;
    border-right: none;
    padding-right: 0px;
  }
}
@media(max-width: 640px){
  #div_novo_chamado{
    margin-top: 15px;
    min-width: 0px;
  }
}
@media(max-width: 380px){
  #div_novo_chamado{
    padding: 0px 20px;
    width: calc(100% - 40px);
  }
}
#div_mensagem_do_formulario_novo_chamado{
  margin-bottom: 20px;
  border: 1px solid #B0B0B8;
  padding: 10px;
  min-width: calc(519px - 2px - 20px);
  max-width: calc(519px - 2px - 20px);
  line-height: 22px;
}
@media(max-width: 640px){
  #div_mensagem_do_formulario_novo_chamado{
    margin-bottom: 10px;
  }
}
@media(max-width: 560px){
  #div_mensagem_do_formulario_novo_chamado{
    min-width: calc(100% - 2px - 20px);
    max-width: calc(100% - 2px - 20px);
  }
}
#h3_novo_chamado{
  font-size: 15pt;
}
#div_titulo_do_chamado{
  margin-top: 16px;
}
#div_campo_titulo_do_chamado{
  margin-top: 2px;
}
#campo_titulo_do_chamado{
  width: calc(519px - 2px - 10px);
}
#div_descricao_do_chamado{
  margin-top: 25px;
}
#div_campo_descricao_do_chamado{
  margin-top: 2px;
}
#campo_descricao_do_chamado{
  width: calc(519px - 2px - 10px);
  height: calc(412px - 2px - 8px);
}
#div_anexos_do_chamado{
  margin-top: 25px;
}
#div_campo_anexos_do_chamado{
  margin-top: 2px;
}
#campo_anexos_do_chamado{
  width: calc(519px - 2px - 10px);
  height: calc(212px - 2px - 8px);
}
#div_botao_abrir_novo_chamado{
  margin-top: 22px;
  min-width: 519px;
  max-width: 519px;
  text-align: right;
}
@media(max-width: 560px){
  #campo_titulo_do_chamado{
    width: calc(100% - 2px - 10px);
  }
  #campo_descricao_do_chamado{
    width: calc(100% - 2px - 10px);
  }
  #campo_anexos_do_chamado{
    width: calc(100% - 2px - 10px);
  }
  #div_botao_abrir_novo_chamado{
    min-width: 100%;
    max-width: 100%;
  }
}

/* Filtros e Lista de Chamados */
#div_opcoes_de_filtro_mais_lista_de_chamados{
  float: left;
  margin-top: 30px;
  max-width: calc(91% - 600px);
}
@media(max-width: 1200px){
  #div_opcoes_de_filtro_mais_lista_de_chamados{
    max-width: calc(100% - 600px);
  }
}
@media(max-width: 1100px){
  #div_opcoes_de_filtro_mais_lista_de_chamados{
    float: none;
    max-width: 100%;
  }
}
#div_opcoes_de_filtro_mais_lista_de_chamados.nao_ha_nada_dos_lados{
  float: none;
  margin-right: auto;
  margin-left: auto;
  max-width: 1180px;
}

/* Filtros */
#form_opcoes_de_filtro{
  overflow: hidden;
}
@media(max-width: 380px){
  #form_opcoes_de_filtro{
    padding: 0px 20px;
  }
}
#h3_titulo_filtros{
  font-size: 15pt;
}
#div_filtro_nome_do_usuario{
  float: left;
  margin-top: 16px;
  margin-right: 20px;
}
#div_campo_filtro_nome_do_usuario{
  margin-top: 2px;
}
#div_filtro_titulo_do_chamado{
  float: left;
  margin-top: 16px;
  margin-right: 20px;
}
#div_campo_filtro_titulo_do_chamado{
  margin-top: 2px;
}
#div_filtro_status_do_chamado{
  float: left;
  margin-top: 16px;
  margin-right: 20px;
}
#div_caixa_de_selecao_filtro_status_do_chamado{
  margin-top: 2px;
}
#div_ordenacao{
  float: left;
  margin-top: 16px;
  margin-right: 20px;
}
#div_caixa_de_selecao_ordenacao{
  margin-top: 2px;
}
#div_quantidade_por_pagina{
  float: left;
  margin-top: 16px;
  margin-right: 20px;
}
#div_caixa_de_selecao_quantidade_por_pagina{
  margin-top: 2px;
}
#div_botoes_dos_filtros{
  float: left;
  margin-top: 16px;
  min-width: 100%;
}
#botao_buscar{
  display: inline-block;
  vertical-align: top;
}
#botao_limpar{
  display: inline-block;
  vertical-align: top;
}

/* Lista de Chamados */
#div_local_da_lista_de_chamados{
  margin-top: 18px;
}
@media(max-width: 900px){
  #div_local_da_lista_de_chamados{
    margin-top: 22px;
    padding-bottom: 20px;
    overflow: auto;
  }
}
#h3_titulo_lista_de_chamados{
  font-size: 15pt;
}
@media(max-width: 640px){
  #h3_titulo_lista_de_chamados{
    text-align: center;
  }
}
@media(max-width: 380px){
  #h3_titulo_lista_de_chamados{
    padding: 0px 20px;
  }
}
#div_paginacao_de_cima_da_lista_de_chamados{
  text-align: center;
}
@media(max-width: 640px){
  #div_paginacao_de_cima_da_lista_de_chamados{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10.5pt;
    white-space: nowrap;
    overflow: auto;
    z-index: 1;
  }
}
.primeira_pagina,
.primeira_pagina:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #282880;
}
.primeira_pagina:hover{
  background-color: #484880;
  color: #F8F8F8;
  text-decoration: none;
}
.pagina_anterior,
.pagina_anterior:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #282880;
}
.pagina_anterior:hover{
  background-color: #484880;
  color: #F8F8F8;
  text-decoration: none;
}
.pagina,
.pagina:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #282880;
}
.pagina:hover{
  background-color: #484880;
  color: #F8F8F8;
  text-decoration: none;
}
.pagina_selecionada,
.pagina_selecionada:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #282880;
  text-shadow: 1px 0px 0px #282880;
}
.pagina_selecionada:hover{
  background-color: #484880;
  color: #F8F8F8;
  text-decoration: none;
}
.pagina_seguinte,
.pagina_seguinte:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #282880;
}
.pagina_seguinte:hover{
  background-color: #484880;
  color: #F8F8F8;
  text-decoration: none;
}
.ultima_pagina,
.ultima_pagina:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #282880;
}
.ultima_pagina:hover{
  background-color: #484880;
  color: #F8F8F8;
  text-decoration: none;
}
#div_lista_de_chamados{
  border: 2px solid #585894;
  min-width: calc(100% - 4px);
  max-width: calc(100% - 4px);
  background-color: #F8F8FF;
}
.chamado{
  border-top: 2px solid #585894;
  padding: 0px 14px;
}
.chamado:first-child{
  border-top: none;
}
.titulo_do_chamado{
  border-bottom: 1px solid #585894;
  padding: 14px 0px;
  word-wrap: break-word;
  word-break: break-all;
}
.informacoes_do_chamado{
  margin-top: 14px;
}
.informacao_do_chamado{
  margin-top: 12px;
  word-wrap: break-word;
  word-break: break-all;
}
.informacao_do_chamado:first-child{
  margin-top: 0px;
}
@media(min-width: 600px){
  .quebra_de_linha_opcional{
    display: none;
  }
}
.resumo_da_descricao_do_chamado{
  margin-top: 14px;
  border-top: 1px solid #585894;
  padding: 14px 0px;
  word-wrap: break-word;
}
#div_mensagem_quando_nao_ha_chamados{
  padding: 14px;
  text-align: center;
}
@media(max-width: 1650px){
  #div_mensagem_quando_nao_ha_chamados{
    text-align: left;
  }
}
#div_paginacao_de_baixo_da_lista_de_chamados{
  text-align: center;
}
@media(max-width: 640px){
  #div_paginacao_de_baixo_da_lista_de_chamados{
    position: relative;
    padding-bottom: 10px;
    font-size: 10.5pt;
    white-space: nowrap;
    overflow: auto;
    z-index: 1;
  }
}
