#div_mensagem{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  border: 1px solid #B0B0B8;
  padding: 10px;
  width: calc(600px - 2px - 20px);
  max-width: calc(100% - 2px - 20px);
  line-height: 22px;
}
@media(max-width: 640px){
  #div_mensagem{
    margin-bottom: 15px;
  }
}
#div_chamado{
  margin-right: auto;
  margin-left: auto;
  padding: 0px 20px;
  width: calc(1000px - 40px);
  max-width: calc(100% - 40px);
}
#h2_titulo_da_pagina{
  font-size: 12pt;
  text-align: center;
  word-break: break-word;
}
#span_titulo_do_chamado_concatenado{
  font-size: 20pt;
}
@media(max-width: 640px){
  #span_titulo_do_chamado_concatenado{
    font-size: 17pt;
  }
}

/* Descrição e respostas do chamado */
#div_descricao_e_respostas_do_chamado{
  margin-top: 30px;
}
@media(max-width: 640px){
  #div_descricao_e_respostas_do_chamado{
    margin-top: 15px;
  }
}
#div_local_da_descricao_do_chamado,
.resposta{
  border: 1px solid #585894;
  padding: 12px;
  overflow: hidden;
}
.resposta{
  margin-top: 15px;
}
#div_descricao_detalhada_do_chamado,
.mensagem_detalhada_da_resposta{
  float: left;
  padding-right: 20px;
  min-width: calc(100% - 20px - 120px);
  max-width: calc(100% - 20px - 120px);
  word-wrap: break-word;
  word-break: break-all;
}
@media(max-width: 640px){
  #div_descricao_detalhada_do_chamado,
  .mensagem_detalhada_da_resposta{
    float: none;
    padding-right: 0px;
    min-width: 100%;
    max-width: 100%;
  }
}
#div_descricao_do_chamado,
.mensagem_da_resposta{
  margin-top: 25px;
  word-break: break-word;
}
#div_anexos_do_chamado,
.anexos_da_resposta{
  float: left;
  min-width: 120px;
  max-width: 120px;
  text-align: right;
}
@media(max-width: 640px){
  #div_anexos_do_chamado,
  .anexos_da_resposta{
    float: none;
    margin-top: 16px;
    min-width: 100%;
    max-width: 100%;
    text-align: left;
  }
  .anexo{
    display: inline;
    margin-right: 25px;
  }
}

/* Formulário de resposta */
#div_formulario_de_resposta{
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  min-width: 519px;
  max-width: 519px;
}
@media(max-width: 640px){
  #div_formulario_de_resposta{
    margin-top: 30px;
    min-width: 100%;
    max-width: 100%;
  }
}
#h3_formulario_de_resposta{
  font-size: 15pt;
}
#div_mensagem_da_resposta{
  margin-top: 25px;
}
#div_campo_mensagem_da_resposta{
  margin-top: 2px;
}
#campo_mensagem_da_resposta{
  width: calc(100% - 2px - 10px);
  height: calc(412px - 2px - 8px);
}
#div_anexos_da_resposta{
  margin-top: 25px;
}
#div_campo_anexos_da_resposta{
  margin-top: 2px;
}
#campo_anexos_da_resposta{
  width: calc(100% - 2px - 10px);
  height: calc(212px - 2px - 8px);
}
#div_mensagem_do_formulario_de_resposta{
  margin-top: 22px;
  border: 1px solid #B0B0B8;
  padding: 10px;
  min-width: calc(100% - 2px - 20px);
  max-width: calc(100% - 2px - 20px);
  line-height: 22px;
}
#div_botao_responder{
  margin-top: 22px;
  min-width: 100%;
  max-width: 100%;
  text-align: right;
}

/* Finalizar chamado */
#div_finalizar_chamado{
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #800000;
  padding: 10px;
  min-width: calc(519px - 2px - 20px);
  max-width: calc(519px - 2px - 20px);
}
@media(max-width: 640px){
  #div_finalizar_chamado{
    margin-top: 60px;
    min-width: calc(100% - 2px - 20px);
    max-width: calc(100% - 2px - 20px);
  }
}
#div_sobre_finalizar_chamado{
  color: #900000;
  text-align: center;
}
#div_mensagem_da_acao_finalizar_chamado{
  margin-top: 22px;
  border: 1px solid #B8B0B0;
  padding: 10px;
  min-width: calc(100% - 2px - 20px);
  max-width: calc(100% - 2px - 20px);
  line-height: 22px;
}
#div_botao_finalizar_chamado{
  margin-top: 22px;
  text-align: right;
}
