body{
  margin: 0px;
  background: #F8F8FF;
  color: #282828;
  font-family: Verdana, Tahoma, Times New Roman, serif;
  font-size: 12pt;
}
#div_app_template{
  display: block;
}

/* Cabeçalho e menus do sistema */
#div_cabecalho_template{
  border-bottom: 1px solid #B8B8B8;
  padding-top: 8px;
  background-color: #F8F8FF;
  color: #404070;
  box-shadow: 0px 4px 4px 1px #DDD;
}
#div_titulo_do_sistema_template{
  padding: 0px 30px;
  text-align: center;
}
#h1_titulo_do_sistema_template{
  font-size: 25pt;
}
@media(max-width: 640px){
  #h1_titulo_do_sistema_template{
    font-size: 18pt;
  }
}
#div_informacoes_do_usuario_template{
  margin-top: 26px;
  padding: 0px 30px;
  text-align: center;
}
#div_menus_do_sistema_template{
  margin-top: 14px;
  background-color: #000;
  overflow: hidden;
}
@media(max-width: 300px){
  #div_menus_do_sistema_template{
    overflow: auto;
  }
}
#nav_menu_01_template{
  float: left;
  padding: 10px;
  min-width: calc(100% - 180px - 20px);
  max-width: calc(100% - 180px - 20px);
}
@media(max-width: 300px){
  #nav_menu_01_template{
    float: none;
    padding-bottom: 5px;
    min-width: 0px;
    max-width: none;
    white-space: nowrap;
  }
}
.opcao_do_menu_01{
  margin-left: 20px;
  color: #F0F0FF;
  font-size: 11pt;
}
.opcao_do_menu_01:first-child{
  margin-left: 0px;
}
.opcao_do_menu_01:visited,
.opcao_do_menu_01:hover{
  color: #F0F0FF;
}
#nav_menu_02_template{
  float: left;
  padding: 10px;
  min-width: calc(180px - 20px);
  max-width: calc(180px - 20px);
  text-align: right;
}
@media(max-width: 300px){
  #nav_menu_02_template{
    float: none;
    padding-top: 5px;
    min-width: 0px;
    max-width: none;
    text-align: left;
    white-space: nowrap;
  }
}
.opcao_do_menu_02{
  margin-left: 20px;
  color: #F0F0FF;
  font-size: 11pt;
}
.opcao_do_menu_02:first-child{
  margin-left: 0px;
}
.opcao_do_menu_02:visited,
.opcao_do_menu_02:hover{
  color: #F0F0FF;
}
#div_tronco_template{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FFF;
  color: #282854;
}
@media(max-width: 640px){
  #div_tronco_template{
    padding-top: 15px;
  }
}
#div_rodape_template{
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid #7070B8;
  padding: 30px 0px;
  min-width: calc(100% - 2px);
  max-width: calc(100% - 2px);
  background-color: #F8F8FF;
  color: #282860;
  box-shadow: 0px -4px 4px 1px #DDD;
}
@media(max-width: 640px){
  #div_rodape_template{
    font-size: 11pt;
  }
}
#div_autor_do_sistema_template{
  text-align: center;
}
@media(max-width: 450px){
  #div_autor_do_sistema_template{
    margin-right: auto;
    margin-left: auto;
    min-width: 200px;
    max-width: 200px;
  }
}
#div_tecnologias_do_sistema_template{
  margin-top: 20px;
  text-align: center;
}
@media(max-width: 450px){
  #div_tecnologias_do_sistema_template{
    margin-right: auto;
    margin-left: auto;
    min-width: 250px;
    max-width: 250px;
  }
}

/* Mensagem do sistema */
#div_mensagem_do_sistema_template{
  position: absolute;
  border: 1px solid #000;
  padding: 10px;
  background-color: #E0E0E0;
}

/* Formulário entrar */
#div_entrar_template{
  position: absolute;
  border: 1px solid #000;
  padding: 22px;
  width: calc(600px - 2px - 44px);
  max-width: calc(100% - 2px - 44px);
  background-color: #FFF;
}
#h3_titulo_do_popup_template{
  color: #000050;
  font-size: 16pt;
  text-align: center;
}
#div_email_template{
  margin-top: 30px;
  color: #000050;
}
#div_email_template>*{
  margin-left: calc(100% / 2 - 400px / 2);
}
@media(max-width: 400px){
  #div_email_template>*{
    margin-left: 0px;
  }
}
#campo_email_template{
  width: calc(400px - 2px - 10px);
  max-width: calc(100% - 2px - 10px);
}
#div_senha_template{
  margin-top: 14px;
  color: #000050;
}
#div_senha_template>*{
  margin-left: calc(100% / 2 - 400px / 2);
}
@media(max-width: 400px){
  #div_senha_template>*{
    margin-left: 0px;
  }
}
#campo_senha_template{
  width: calc(400px - 2px - 10px);
  max-width: calc(100% - 2px - 10px);
}
#div_botao_entrar_template{
  margin-top: 30px;
  text-align: center;
}

/* Classes para qualquer tag */
.tag_oculta{
  display: none !important;
}

/* Estilos iniciais */
h1, h2, h3, h4, h5, h6{
  margin: 0px;
  font-family: Verdana, Tahoma, Times New Roman, serif;
  font-size: 20pt;
  font-weight: normal;
}
fieldset{
  margin: 0px;
  border: 1px solid #B0B0C8;
  padding: 6px 12px 10px 12px;
}
input[type="text"],
input[type="password"],
input[type="number"]{
  border: 1px solid #B0B0C8;
  padding: 4px 5px;
  width: calc(212px - 2px - 10px);
  background-color: #FFF;
  color: #000050;
  font-family: Verdana, Tahoma, Times New Roman, serif;
  font-size: 11pt;
  appearance: none;
  outline: none;
}
input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 999px #FFF inset;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="number"]:hover{
  border: 1px solid #9090C8;
  appearance: none;
  outline: none;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus{
  border: 1px solid #9090C8;
  background-color: #F8F8FD;
  appearance: none;
  outline: none;
}
textarea{
  border: 1px solid #B0B0C8;
  padding: 4px 5px;
  width: calc(212px - 2px - 10px);
  background-color: #FFF;
  color: #000050;
  font-family: Verdana, Tahoma, Times New Roman, serif;
  font-size: 11pt;
  appearance: none;
  outline: none;
}
textarea:hover{
  border: 1px solid #9090C8;
  appearance: none;
  outline: none;
}
textarea:focus{
  border: 1px solid #9090C8;
  background-color: #F8F8FD;
  appearance: none;
  outline: none;
}
input[type="radio"]{
  margin: 0px;
}
input[type="radio"]:checked{
  -webkit-filter: grayscale(100%) contrast(130%);
}
input[type="checkbox"]{
  margin: 0px;
}
@-moz-document url-prefix(){
  input[type="radio"]{
    position: relative;
    top: -1px;
  }
  input[type="checkbox"]{
    position: relative;
    top: -1px;
  }
}
input[type="submit"],
input[type="reset"],
button{
  border-top: 1px solid #B0B0C8;
  border-right: 2px solid #B0B0C8;
  border-bottom: 2px solid #B0B0C8;
  border-left: 1px solid #B0B0C8;
  border-radius: 4px;
  padding: 4px 4px 4px 3px;
  background-color: #FFF;
  color: #404070;
  font-family: Tahoma, Verdana, Times New Roman, serif;
  font-size: 11pt;
  cursor: pointer;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover{
  border-top: 1px solid #9090C8;
  border-right: 2px solid #9090C8;
  border-bottom: 2px solid #9090C8;
  border-left: 1px solid #9090C8;
  background-color: #F0F0FF;
  appearance: none;
  outline: none;
}
input[type="submit"]:focus,
input[type="reset"]:focus,
button:focus{
  border-top: 2px solid #9090C8;
  border-right: 1px solid #9090C8;
  border-bottom: 1px solid #9090C8;
  border-left: 2px solid #9090C8;
  padding: 5px 3px 3px 4px;
  appearance: none;
  outline: none;
}
select{
  border: 1px solid #B0B0C8;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 212px;
  background-color: #FFF;
  color: #000050;
  font-family: Verdana, Tahoma, Times New Roman, serif;
  font-size: 11pt;
  outline: none;
}
select:hover{
  border: 1px solid #9090C8;
  outline: none;
}
select:focus{
  border: 1px solid #9090C8;
  background-color: #F8F8FD;
  outline: none;
}
p{
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: justify;
}
a{
  color: #0000A0;
  text-decoration: none;
  cursor: pointer;
}
a:visited{
  color: #0000A0;
}
a:hover{
  color: #0000A0;
  text-decoration: underline;
}
