#div_mensagem{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  border: 1px solid #B0B0B8;
  padding: 10px;
  width: calc(800px - 2px - 20px);
  max-width: calc(100% - 2px - 20px);
  line-height: 22px;
}
@media(max-width: 640px){
  #div_mensagem{
    margin-bottom: 15px;
  }
}
#div_usuarios{
  margin-right: auto;
  margin-left: auto;
  padding: 0px 20px;
  width: calc(1200px - 40px);
  max-width: calc(100% - 40px);
}
@media(max-width: 640px){
  #div_usuarios{
    padding: 0px;
    width: 100%;
    max-width: 100%;
  }
}
#h2_titulo_da_pagina{
  text-align: center;
}
@media(max-width: 640px){
  #h2_titulo_da_pagina{
    font-size: 17pt;
  }
}

/* Filtros */
#form_opcoes_de_filtro{
  margin-top: 22px;
  overflow: hidden;
}
@media(max-width: 640px){
  #form_opcoes_de_filtro{
    margin-top: 15px;
    padding: 0px 20px;
  }
}
#h3_titulo_filtros{
  font-size: 15pt;
}
#div_filtro_nome{
  float: left;
  margin-top: 12px;
  margin-right: 20px;
}
#div_campo_filtro_nome{
  margin-top: 2px;
}
#div_filtro_cpf{
  float: left;
  margin-top: 12px;
  margin-right: 20px;
}
#div_campo_filtro_cpf{
  margin-top: 2px;
}
#div_filtro_email{
  float: left;
  margin-top: 12px;
  margin-right: 20px;
}
#div_campo_filtro_email{
  margin-top: 2px;
}
#div_filtro_tipo_de_usuario{
  float: left;
  margin-top: 12px;
  margin-right: 20px;
}
#div_caixa_de_selecao_filtro_tipo_de_usuario{
  margin-top: 2px;
}
#div_quantidade_por_pagina{
  float: left;
  margin-top: 12px;
  margin-right: 20px;
}
#div_caixa_de_selecao_quantidade_por_pagina{
  margin-top: 2px;
}
#div_botoes_dos_filtros{
  float: left;
  margin-top: 12px;
  min-width: 100%;
}
#botao_buscar{
  display: inline-block;
  vertical-align: top;
}
#botao_limpar{
  display: inline-block;
  vertical-align: top;
}

/* Tabela Usuários */
#div_local_da_tabela_usuarios{
  margin-top: 18px;
}
@media(max-width: 900px){
  #div_local_da_tabela_usuarios{
    margin-top: 22px;
    padding-bottom: 20px;
    overflow: auto;
  }
}
#h3_titulo_tabela_de_usuarios{
  font-size: 15pt;
}
@media(max-width: 640px){
  #h3_titulo_tabela_de_usuarios{
    padding: 0px 20px;
    text-align: center;
  }
}
#div_paginacao_de_cima_da_tabela_de_usuarios{
  text-align: center;
}
@media(max-width: 640px){
  #div_paginacao_de_cima_da_tabela_de_usuarios{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10.5pt;
    white-space: nowrap;
    overflow: auto;
    z-index: 1;
  }
}
.primeira_pagina,
.primeira_pagina:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #282880;
}
.primeira_pagina:hover{
  background-color: #484880;
  color: #F8F8F8;
  text-decoration: none;
}
.pagina_anterior,
.pagina_anterior:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #282880;
}
.pagina_anterior:hover{
  background-color: #484880;
  color: #F8F8F8;
  text-decoration: none;
}
.pagina,
.pagina:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #282880;
}
.pagina:hover{
  background-color: #484880;
  color: #F8F8F8;
  text-decoration: none;
}
.pagina_selecionada,
.pagina_selecionada:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #282880;
  text-shadow: 1px 0px 0px #282880;
}
.pagina_selecionada:hover{
  background-color: #484880;
  color: #F8F8F8;
  text-decoration: none;
}
.pagina_seguinte,
.pagina_seguinte:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #282880;
}
.pagina_seguinte:hover{
  background-color: #484880;
  color: #F8F8F8;
  text-decoration: none;
}
.ultima_pagina,
.ultima_pagina:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #282880;
}
.ultima_pagina:hover{
  background-color: #484880;
  color: #F8F8F8;
  text-decoration: none;
}
#tabela_usuarios{
  border-collapse: separate;
  border-spacing: 0px 0px;
  border-right: 2px solid #E0E0F4;
  border-left: 2px solid #E0E0F4;
  min-width: 100%; /* Borda de tabela não precisa ser descontada pois o box-sizing é border-box */
  max-width: 100%; /* Borda de tabela não precisa ser descontada pois o box-sizing é border-box */
  background-color: #E0E0F4;
  font-size: 11pt;
}
@media(max-width: 640px){
  #tabela_usuarios{
    display: block;
    border-bottom: 2px solid #E0E0F4;
  }
}
#tabela_usuarios tr>th,
#tabela_usuarios tr>td{
  padding: 8px;
}
@media(max-width: 640px){
  #tabela_usuarios>thead{
    display: block;
    max-height: 68px;
    overflow: auto;
  }
  #tabela_usuarios>thead>tr{
    display: block;
  }
  #tabela_usuarios>thead>tr>th{
    display: block;
  }
}
#tabela_usuarios>tbody>tr.impar{
  background-color: #FFF;
}
#tabela_usuarios>tbody>tr.par{
  background-color: #F4F4FF;
}
.span_ordenacao{
  cursor: pointer;
}
.td_tudo{
  display: none;
}
@media(max-width: 640px){
  #tabela_usuarios>tbody{
    display: block;
  }
  #tabela_usuarios>tbody>tr{
    display: block;
  }
  .td_tudo{
    display: block;
    line-height: 28px;
    white-space: nowrap;
    overflow: auto;
  }
}
.th_nome,
.td_nome{
  min-width: 200px;
  max-width: 200px;
  text-align: left;
  word-wrap: break-word;
}
@media(max-width: 640px){
  .th_nome{
    min-width: 0px;
    max-width: none;
  }
  .td_nome{
    display: none;
  }
}
.th_cpf,
.td_cpf{
  min-width: 150px;
  max-width: 150px;
  text-align: left;
  word-wrap: break-word;
}
@media(max-width: 640px){
  .th_cpf{
    min-width: 0px;
    max-width: none;
  }
  .td_cpf{
    display: none;
  }
}
.th_email,
.td_email{
  min-width: 300px;
  max-width: 300px;
  text-align: left;
  word-wrap: break-word;
}
@media(max-width: 640px){
  .th_email{
    min-width: 0px;
    max-width: none;
  }
  .td_email{
    display: none;
  }
}
.th_momento_do_cadastro,
.td_momento_do_cadastro{
  min-width: 100px;
  text-align: right;
}
@media(max-width: 640px){
  .th_momento_do_cadastro{
    min-width: 0px;
    text-align: left;
  }
  .td_momento_do_cadastro{
    display: none;
  }
}
.th_tipo,
.td_tipo{
  min-width: 100px;
  text-align: right;
}
@media(max-width: 640px){
  .th_tipo{
    min-width: 0px;
    text-align: left;
  }
  .td_tipo{
    display: none;
  }
}
.th_opcoes,
.td_opcoes{
  min-width: 100px;
  max-width: 100px;
  text-align: right;
}
@media(max-width: 640px){
  .th_opcoes{
    min-width: 0px;
    text-align: left;
  }
  .td_opcoes{
    display: none;
  }
}
.link_mudar_tipo{
  color: #A00000;
  text-decoration: none;
  cursor: pointer;
}
.link_mudar_tipo:visited{
  color: #A00000;
}
.link_mudar_tipo:hover{
  color: #A00000;
  text-decoration: underline;
}
#td_mensagem_da_tabela{
  text-align: center;
}
@media(max-width: 640px){
  #tabela_usuarios>tfoot{
    display: none;
  }
}
#div_paginacao_de_baixo_da_tabela_de_usuarios{
  text-align: center;
}
@media(max-width: 640px){
  #div_paginacao_de_baixo_da_tabela_de_usuarios{
    position: relative;
    padding-bottom: 10px;
    font-size: 10.5pt;
    white-space: nowrap;
    overflow: auto;
    z-index: 1;
  }
}
