<script>
  import TemplateLayout from "../template_layout.vue";
  import {Head} from "@inertiajs/vue3";
  
  export default{
    props: [
      "template_layout",
      "chamado"
    ],
    components: {
      TemplateLayout,
      Head
    },
    data(){
      return{
        /* Propriedades obtidas dos controllers precisam ser recolocadas para prevenir o cache do inertia */
        vue_template_layout: this.template_layout,
        vue_chamado: this.chamado,
        
        /* Propriedades novas e seus valores iniciais */
        mensagem_do_formulario_de_resposta: "",
        mensagem_da_resposta: "",
        anexos_da_resposta: "",
        mensagem_da_acao_finalizar_chamado: ""
      }
    },
    methods: {
      enviar_formulario_de_resposta(evento){
        evento.currentTarget.blur();
        
        this.mensagem_do_formulario_de_resposta = "Aguarde...";
        
        axios.post("/chamado/responder_via_ajax", {
          mensagem_da_resposta: this.mensagem_da_resposta,
          anexos_da_resposta: this.anexos_da_resposta,
          id_do_chamado: this.vue_chamado.id_do_chamado
        }).then(response => {
          if(typeof response.data.mensagem_de_falha !== "undefined"){
            this.mensagem_do_formulario_de_resposta = response.data.mensagem_de_falha;
          }else{
            if(this.vue_chamado.status === "Aberto"){
              this.vue_chamado.status = "Em atendimento";
            }
            
            this.mensagem_do_formulario_de_resposta = response.data.mensagem_de_sucesso;
            this.vue_chamado.lista_de_respostas = response.data.lista_de_respostas;
            this.mensagem_da_resposta = "";
            this.anexos_da_resposta = "";
          }
        });
      },
      finalizar_chamado(evento){
        evento.currentTarget.blur();
        
        this.mensagem_da_acao_finalizar_chamado = "Aguarde...";
        
        axios.post("/chamado/finalizar_chamado_via_ajax", {
          id_do_chamado: this.vue_chamado.id_do_chamado
        }).then(response => {
          if(typeof response.data.mensagem_de_falha !== "undefined"){
            this.mensagem_da_acao_finalizar_chamado = response.data.mensagem_de_falha;
          }else{
            this.vue_chamado.status = "Finalizado";
            this.mensagem_da_acao_finalizar_chamado = response.data.mensagem_de_sucesso;
            this.vue_chamado.lista_de_respostas = response.data.lista_de_respostas;
          }
        });
      },
      remover_foco_do_botao(evento){
        evento.currentTarget.blur();
      }
    }
  }
</script>

<template>
  <TemplateLayout :template_layout="vue_template_layout">
    <template #conteudo>
      <div id="div_mensagem" :class="vue_chamado.mensagem_da_pagina ? '' : 'tag_oculta'">
        <span id="span_mensagem">{{vue_chamado.mensagem_da_pagina}}</span>
      </div>
      <div v-if="vue_template_layout.usuario_esta_logado && vue_chamado.mostrar_chamado" id="div_chamado">
        <h2 id="h2_titulo_da_pagina">
          <span id="span_titulo_do_chamado_concatenado">Chamado {{vue_chamado.titulo}}</span>
          <br/>
          <span id="span_status_do_chamado">{{vue_chamado.status}}</span>
        </h2>
        <div id="div_descricao_e_respostas_do_chamado">
          <div id="div_local_da_descricao_do_chamado">
            <div id="div_descricao_detalhada_do_chamado">
              <span>{{vue_chamado.nome_do_cliente}}</span>
              <span>&nbsp;</span>
              <span>({{vue_chamado.momento_da_abertura}}):</span>
              <div id="div_descricao_do_chamado" v-html="vue_chamado.descricao"></div>
            </div>
            <div id="div_anexos_do_chamado">
              <template v-for="(anexo, chave) in vue_chamado.anexos">
                <div class="anexo">
                  <a class="link_endereco_do_anexo" :href="anexo">Anexo {{chave + 1}}</a>
                </div>
              </template>
            </div>
          </div>
          <template v-for="(resposta, chave) in vue_chamado.lista_de_respostas.respostas">
            <div class="resposta">
              <div class="mensagem_detalhada_da_resposta">
                <span>{{resposta.autor}}</span>
                <span>&nbsp;</span>
                <span>({{resposta.momento_do_envio}}):</span>
                <div class="mensagem_da_resposta" v-html="resposta.mensagem"></div>
              </div>
              <div class="anexos_da_resposta">
                <template v-for="(anexo, chave) in resposta.anexos">
                  <div class="anexo">
                    <a class="link_endereco_do_anexo" :href="anexo">Anexo {{chave + 1}}</a>
                  </div>
                </template>
              </div>
            </div>
          </template>
        </div>
        <div v-if="vue_chamado.mostrar_formulario_de_resposta" id="div_formulario_de_resposta">
          <h3 id="h3_formulario_de_resposta">
            <span>Formulário de resposta</span>
          </h3>
          <div id="div_mensagem_da_resposta">
            <div id="div_label_mensagem_da_resposta">
              <label id="label_mensagem_da_resposta" for="campo_mensagem_da_resposta">
                <span>Mensagem da resposta</span>
              </label>
            </div>
            <div id="div_campo_mensagem_da_resposta">
              <textarea type="text" id="campo_mensagem_da_resposta" name="mensagem_da_resposta" 
                        autocomplete="off" placeholder="Mensagem" 
                        v-model="mensagem_da_resposta">{{mensagem_da_resposta}}</textarea>
            </div>
          </div>
          <div id="div_anexos_da_resposta">
            <div id="div_label_anexos_da_resposta">
              <label id="label_anexos_da_resposta" for="campo_anexos_da_resposta">
                <span>Endereço de cada anexo (separe usando quebra de linha)</span>
              </label>
            </div>
            <div id="div_campo_anexos_da_resposta">
              <textarea type="text" id="campo_anexos_da_resposta" name="anexos_da_resposta" 
                        autocomplete="off" placeholder="Anexos (opcional)" 
                        v-model="anexos_da_resposta">{{anexos_da_resposta}}</textarea>
            </div>
          </div>
          <div id="div_mensagem_do_formulario_de_resposta"
               :class="mensagem_do_formulario_de_resposta ? '' : 'tag_oculta'">
            <span id="span_mensagem_do_formulario_de_resposta">{{mensagem_do_formulario_de_resposta}}</span>
          </div>
          <div id="div_botao_responder">
            <button type="button" id="botao_responder" title="Enviar" @click="enviar_formulario_de_resposta" 
                    @mouseleave="remover_foco_do_botao">Enviar</button>
          </div>
        </div>
        <div id="div_finalizar_chamado">
          <div id="div_sobre_finalizar_chamado">
            <span>Utilize o botão abaixo caso queira finalizar o chamado.</span>
            <br/>
            <br/>
            <span>Ao finalizar o chamado, uma resposta será acrescentada automaticamente para indicar para as outras pessoas que você finalizou o chamado.</span>
          </div>
          <div id="div_mensagem_da_acao_finalizar_chamado"
               :class="mensagem_da_acao_finalizar_chamado ? '' : 'tag_oculta'">
            <span id="span_mensagem_da_acao_finalizar_chamado">{{mensagem_da_acao_finalizar_chamado}}</span>
          </div>
          <div id="div_botao_finalizar_chamado">
            <button type="button" id="botao_finalizar_chamado" title="Finalizar chamado" @click="finalizar_chamado" 
                    @mouseleave="remover_foco_do_botao">Finalizar chamado</button>
          </div>
        </div>
      </div>
    </template>
  </TemplateLayout>
  <Head>
    <title>Chamado</title>
    <link href="/css/visual_padrao_2023/chamado.css" type="text/css" rel="stylesheet"/>
  </Head>
</template>
