<script>
  import TemplateLayout from "../template_layout.vue";
  import {Head} from "@inertiajs/vue3";
  
  export default{
    props: [
      "template_layout"
    ],
    components: {
      TemplateLayout,
      Head
    },
    data(){
      return{
        /* Propriedades obtidas dos controllers precisam ser recolocadas para prevenir o cache do inertia */
        vue_template_layout: this.template_layout
      }
    }
  }
</script>

<template>
  <TemplateLayout :template_layout="vue_template_layout">
    <template #conteudo>
      <div id="div_pagina_inicial">
        <h2 id="h2_titulo_da_pagina">
          <span>Página Inicial</span>
        </h2>
        <div id="div_sobre_este_sistema">
          <p>
            Caro usuário, você está no sistema de suporte, para começar a utilizar este sistema é necessário estar 
            autenticado. Pelo menu do topo, você pode acessar a página de cadastro pelo link Cadastre-se e o formulário 
            de login pelo link Entrar. Caso ainda não tenha se cadastrado, cadastre-se antes de utilizar o formulário 
            de login.
          </p>
          <p>
            Após se autenticar (login), você verá que no lugar do link Cadastre-se aparecerá o link Chamados. Este link 
            te dá acesso à página de chamados onde poderá abrir novos chamados e acompanhar chamados abertos por você 
            anteriormente. Caso precise sair, o link Sair irá aparecer no lugar do link Entrar.
          </p>
          <p>
            Caso você seja um colaborador da empresa, cadastre-se normalmente e abra um chamado para que algum 
            colaborador já identificado possa mudar o tipo do seu usuário de cliente para colaborador.
          </p>
        </div>
      </div>
    </template>
  </TemplateLayout>
  <Head>
    <title>Página Inicial</title>
    <link href="/css/visual_padrao_2023/pagina_inicial.css" type="text/css" rel="stylesheet"/>
  </Head>
</template>
