<script>
  import TemplateLayout from "../template_layout.vue";
  import {Head} from "@inertiajs/vue3";
  
  export default{
    props: [
      "template_layout",
      "cadastre_se"
    ],
    components: {
      TemplateLayout,
      Head
    },
    data(){
      return{
        /* Propriedades obtidas dos controllers precisam ser recolocadas para prevenir o cache do inertia */
        vue_template_layout: this.template_layout,
        vue_cadastre_se: this.cadastre_se
      }
    },
    methods: {
      aplicar_mascara_para_o_campo_cpf(evento){
        evento.preventDefault();
        
        const campo_cpf = evento.currentTarget;
        
        let posicao_do_cursor = campo_cpf.selectionStart;
        if(typeof posicao_do_cursor !== "number"){
          /* Se o navegador não suportar, cancela. */
          return;
        }
        
        const teclas_para_ignorar = [
          "Enter", "Tab", "Shift", "Control", "Backspace", "Home", "End", "Delete", 
          "Up", "Right", "Down", "Left", "ArrowUp", "ArrowRight", "ArrowDown", "ArrowLeft"
        ];
        if(teclas_para_ignorar.indexOf(evento.key) >= 0){
          this.ultimo_valor_campo_cpf = campo_cpf.value;
          return;
        }
        
        campo_cpf.value = campo_cpf.value.replace(/[^0-9]/g, "");
        
        if(campo_cpf.value.length >= 3){
          campo_cpf.value = campo_cpf.value.slice(0, 3) + "." + campo_cpf.value.slice(3);
          if((posicao_do_cursor === 3 || posicao_do_cursor === 4) && campo_cpf.value.length > this.ultimo_valor_campo_cpf.length){
            posicao_do_cursor++;
          }else if(campo_cpf.value.length >= 7 && posicao_do_cursor === 4){
            posicao_do_cursor++;
          }
        }
        if(campo_cpf.value.length >= 7){
          campo_cpf.value = campo_cpf.value.slice(0, 7) + "." + campo_cpf.value.slice(7);
          if((posicao_do_cursor === 7 || posicao_do_cursor === 8) && campo_cpf.value.length > this.ultimo_valor_campo_cpf.length){
            posicao_do_cursor++;
          }else if(campo_cpf.value.length >= 11 && posicao_do_cursor === 8){
            posicao_do_cursor++;
          }
        }
        if(campo_cpf.value.length >= 11){
          campo_cpf.value = campo_cpf.value.slice(0, 11) + "-" + campo_cpf.value.slice(11);
          if((posicao_do_cursor === 11 || posicao_do_cursor === 12) && campo_cpf.value.length > this.ultimo_valor_campo_cpf.length){
            posicao_do_cursor++;
          }
        }
        if(campo_cpf.value.length > 14){
          campo_cpf.value = campo_cpf.value.slice(0, 14);
        }
        
        campo_cpf.setSelectionRange(posicao_do_cursor, posicao_do_cursor);
        
        this.ultimo_valor_campo_cpf = campo_cpf.value;
        this.vue_cadastre_se.cpf = campo_cpf.value;
      },
      remover_foco_do_botao(evento){
        evento.currentTarget.blur();
      }
    }
  }
</script>

<template>
  <TemplateLayout :template_layout="vue_template_layout">
    <template #conteudo>
      <div id="div_mensagem" :class="vue_cadastre_se.mensagem_da_pagina ? '' : 'tag_oculta'">
        <span id="span_mensagem">{{vue_cadastre_se.mensagem_da_pagina}}</span>
      </div>
      <div id="div_cadastrar">
        <h2 id="h2_titulo_da_pagina">
          <span>Cadastre-se</span>
        </h2>
        <form id="form_cadastrar" method="post" action="/cadastre_se/cadastrar">
          <div id="div_nome_completo">
            <div id="div_label_nome_completo">
              <label id="label_nome_completo" for="campo_nome_completo">
                <span>Nome completo</span>
              </label>
            </div>
            <div id="div_campo_nome_completo">
              <input type="text" id="campo_nome_completo" name="nome_completo" v-model="vue_cadastre_se.nome_completo" 
                     autocomplete="off"/>
            </div>
          </div>
          <div id="div_cpf">
            <div id="div_label_cpf">
              <label id="label_cpf" for="campo_cpf">
                <span>CPF</span>
              </label>
            </div>
            <div id="div_campo_cpf">
              <input type="text" id="campo_cpf" name="cpf" @keyup="aplicar_mascara_para_o_campo_cpf" 
                     v-model="vue_cadastre_se.cpf" autocomplete="off"/>
            </div>
          </div>
          <div id="div_email">
            <div id="div_label_email">
              <label id="label_email" for="campo_email">
                <span>E-mail</span>
              </label>
            </div>
            <div id="div_campo_email">
              <input type="text" id="campo_email" name="email" v-model="vue_cadastre_se.email" autocomplete="off"/>
            </div>
          </div>
          <div id="div_senha">
            <div id="div_label_senha">
              <label id="label_senha" for="campo_senha">
                <span>Senha</span>
              </label>
            </div>
            <div id="div_campo_senha">
              <input type="password" id="campo_senha" name="senha" autocomplete="off"/>
            </div>
          </div>
          <div id="div_senha_novamente">
            <div id="div_label_senha_novamente">
              <label id="label_senha_novamente" for="campo_senha_novamente">
                <span>Senha novamente</span>
              </label>
            </div>
            <div id="div_campo_senha_novamente">
              <input type="password" id="campo_senha_novamente" name="senha_novamente" autocomplete="off"/>
            </div>
          </div>
          <div id="div_botao_cadastrar">
            <input type="hidden" name="_token" :value="vue_template_layout.chave_anti_csrf"/>
            <input type="submit" id="botao_cadastrar" @click="remover_foco_do_botao" @mouseleave="remover_foco_do_botao" 
                   value="Cadastrar"/>
          </div>
        </form>
      </div>
    </template>
  </TemplateLayout>
  <Head>
    <title>Cadastre-se</title>
    <link href="/css/visual_padrao_2023/cadastre_se.css" type="text/css" rel="stylesheet"/>
  </Head>
</template>
